/* Estilos generales de la página */
body {
    background-color: white;
    color: #333333;
    margin: 0; /* Remover todos los márgenes predeterminados */
  }
  
  /* Cabecera */
  header {
    max-width: 1080px;
    width: 98%;
    margin: 0 auto; /* Márgenes automáticos a la derecha e izquierda */
    text-align: center;
  }
  
  /* Encabezados */
  h1 {
    font-size: 36px;
    font-weight: bold;
  }
  
  h2 {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Índice */
  nav ul {
    list-style: none; /* Eliminar adornos de lista */
    color: cornflowerblue;
    text-align: center;
    margin: 0;
  }
  
  nav a {
    text-decoration: none; /* Eliminar subrayado */
    color: cornflowerblue; /* Color de los enlaces */
  }
  
  nav a:hover {
    cursor: pointer;
  }
  
  /* Fragmento principal */
  main {
    max-width: 1080px;
    width: 98%;
    margin: 0 auto;
  }
  
  /* Sección de cuestionarios */
  section {
    margin-top: 80px;
    max-width: 1080px;
    width: 98%;
    margin: 0 auto;
    vertical-align: middle;
    line-height: 18px;
  }
  
  /* Preguntas */
  .pregunta {
    margin-top: 1ex;
    margin-bottom: 1ex;
  }
  
  /* Texto en otro idioma */
  .idioma {
    font-style: italic; /* Texto en itálica */
  }
  
  /* Imagen en el título del cuestionario */
  h2 img {
    /* Asumiendo que la imagen está dentro de h2 */
    vertical-align: text-top;
    width: 50px; /* Ancho */
    height: 50px; /* Alto */
    margin-right: 10px; /* Margen a la derecha */
    border: 1px solid lightgray; /* Borde */
  }
  
  /* Pie de página */
  footer {
    height: 50px;
    margin-top: 100px;
    background-color: steelblue;
    color: white;
    width: 100%;
    text-align: center;
    line-height: 50px; /* Centrado vertical del texto */
    position: relative; /* Se establece para asegurar la altura */
  }
  
  footer a {
    color: lightgray;
    text-decoration: none;
  }
  
  footer a:hover {
    cursor: pointer;
  }
  
  /* Estilos generales de la página */
  body {
    background-color: white;
    color: #333333;
    margin: 0; /* Remover todos los márgenes predeterminados */
  }
  
  /* Cabecera */
  header {
    max-width: 1080px;
    width: 98%;
    margin: 0 auto; /* Márgenes automáticos a la derecha e izquierda */
    text-align: center;
  }
  
  /* Encabezados */
  h1 {
    font-size: 36px;
    font-weight: bold;
  }
  
  h2 {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Índice */
  nav ul {
    list-style: none; /* Eliminar adornos de lista */
    color: cornflowerblue;
    text-align: center;
    margin: 0;
  }
  
  nav a {
    text-decoration: none; /* Eliminar subrayado */
    color: cornflowerblue; /* Color de los enlaces */
  }
  
  nav a:hover {
    cursor: pointer;
  }
  
  /* Fragmento principal */
  main {
    max-width: 1080px;
    width: 98%;
    margin: 0 auto;
  }
  
  /* Sección de cuestionarios */
  section {
    margin-top: 80px;
    max-width: 1080px;
    width: 98%;
    margin: 0 auto;
    vertical-align: middle;
    line-height: 18px;
    counter-reset: preguntaContador;/*Pomgo     un contador para las preguntas*/
  }
  
  #paris{
    margin-top:80px;
    margin-bottom: 80px;
  }
  
  .pregunta::before {
    counter-increment: preguntaContador; /* Incrementa el contador en 1 */
    content: "Pregunta "          counter(preguntaContador);
    display: block;
    margin-bottom: 10px;
  }
  
  /* Preguntas */
  .pregunta {
    margin-top: 1ex;
    margin-bottom: 1ex;
    
  }
  
  /* Texto en otro idioma */
  .idioma {
    font-style: italic; /* Texto en itálica */
  }
  
  /* Imagen en el título del cuestionario */
  h2 img {
    /* Asumiendo que la imagen está dentro de h2 */
    vertical-align: text-top;
    width: 50px; /* Ancho */
    height: 50px; /* Alto */
    margin-right: 10px; /* Margen a la derecha */
    border: 1px solid lightgray; /* Borde */
  }
  
  /* Pie de página */
  footer {
    height: 50px;
    margin-top: 100px;
    background-color: steelblue;
    color: white;
    width: 100%;
    text-align: center;
    line-height: 50px; /* Centrado vertical del texto */
    position: relative; /* Se establece para asegurar la altura */
  }
  
  footer a {
    color: lightgray;
    text-decoration: none;
  }
  
  footer a:hover {
    cursor: pointer;
  }
  
  /* Estilo para la vista compacta */
  body {
    font-family: "Ubuntu", sans-serif; /* Usa la fuente Ubuntu para todo el documento */
  }
  
  /*Colocando la respuesta en la misma linea que la pregunta*/
  .pregunta, .respuesta {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .respuesta[data-valor="true"]::after{
    content: "V";
    /* Estilos adicionales como color, fuente, etc. pueden ir aquí */
  }
  
  .respuesta[data-valor="false"]::after{
    content: "F";
    /* Estilos adicionales como color, fuente, etc. pueden ir aquí */
  }
  